{{!
  Copyright IBM Corp. 2022, 2023
  SPDX-License-Identifier: MPL-2.0
}}

<div class='flex-grid'>
  {{#each @data as |d|}}
    <div class='diverging-scale-datum'>
      {{d.x}}
      <div {{style background-color=(@scale.compute d.x)}}></div>
    </div>
  {{/each}}
</div>
