{{!
  Copyright IBM Corp. 2022, 2023
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "TestApp"}}
<div class="page">
  <nav class="main-nav">
    <div class="sticky">
      <h3>Test Pages</h3>
      <ul>
        <li><LinkTo @route="index">Index</LinkTo></li>
        <li><LinkTo @route="axes">Axes/Scales</LinkTo></li>
        <li><LinkTo @route="lines">Lines</LinkTo></li>
        <li><LinkTo @route="areas">Areas</LinkTo></li>
        <li><LinkTo @route="arcs">Arcs</LinkTo></li>
        <li><LinkTo @route="points-bands">Points/Bands</LinkTo></li>
        <li><LinkTo @route="reactivity">Reactivity</LinkTo></li>
        <li><LinkTo @route="stacks">Stacks</LinkTo></li>
      </ul>
    </div>
  </nav>
  <main>
    {{outlet}}
  </main>
</div>