{{!
  Copyright IBM Corp. 2022, 2023
  SPDX-License-Identifier: MPL-2.0
}}

{{#if this.scale.isValid}}
  <div class='waffle-chart'>
    {{#each @data as |d|}}
      <div class={{this.scale.compute d.y}}><span>{{fmt d.y}}</span></div>
    {{/each}}
  </div>
{{/if}}
