@import './highlight.css';

:root {
  --c-base: #d6cbaf;
  --c-base-1: #cdb08e;
  --c-base-2: #b4a388;
  --c-line: #160a03;
  --c-green: #b7b283;
  --c-green-line: #7e7944;
  --c-yellow: #dabf8f;
  --c-yellow-line: #bb963c;
  --c-red: #e4a692;
  --c-red-line: #d1675d;
  --c-blue: #94a9af;
  --c-blue-line: #346c8e;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--c-base);
  color: var(--c-line);
  font-family: sans-serif;
}

code,
pre,
.hljs {
  font-family: monospace;
}

.hljs {
  background: var(--c-base-2);
}

pre code.hljs {
  display: block;
  padding: 15px;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 8px;
}

.docs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;

  > nav {
    padding-top: 200px;
    width: 300px;
    background: var(--c-base-1);
    border-right: 2px solid var(--c-line);
    min-height: 100vh;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        color: var(--c-line);
        padding: 10px 15px;
        display: inline-block;
        width: calc(100% + 2px);
        position: relative;
        border-right: 2px solid var(--c-line);
        border-bottom: 3px solid transparent;

        &:hover {
          background: var(--c-base-2);
        }

        &.active,
        &.active:hover {
          background: var(--c-base);
          border-bottom: 3px solid var(--c-line);
          border-right: none;

          &::after {
            content: ' ';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: -6px;
            border-bottom: 1px solid var(--c-line);
          }
        }
      }
    }
  }

  > main {
    width: 100%;

    > article {
      width: 100%;
      padding: 30px;
      max-width: 1000px;
      margin: auto;
    }
  }
}
