@import './highlight.css';

:root {
  --c-base-0: #fff1d9;
  --c-base: #d6cbaf;
  --c-base-1: #c5b199;
  --c-base-2: #b4a388;
  --c-line-0: #71584a;
  --c-line: #160a03;
  --c-green: #b7b283;
  --c-green-line: #7e7944;
  --c-yellow: #dabf8f;
  --c-yellow-line: #bb963c;
  --c-red: #e4a692;
  --c-red-line: #d1675d;
  --c-blue: #94a9af;
  --c-blue-line: #346c8e;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--c-base);
  color: var(--c-line);
  font-family: sans-serif;
}

code,
pre,
.hljs {
  font-family: monospace;
}

.hljs {
  background: var(--c-base-0);
}

pre code.hljs {
  display: block;
  padding: 15px;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid var(--c-base-2);
  box-shadow: inset 0 0 7px -1px var(--c-base-2);
}

.docs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;

  > nav {
    padding-top: 200px;
    width: 300px;
    background: var(--c-base-1);
    border-right: 2px solid var(--c-line);
    min-height: 100vh;

    h3 {
      padding: 30px 15px 10px;
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        color: var(--c-line);
        padding: 10px 15px;
        display: inline-block;
        width: calc(100% + 2px);
        position: relative;
        border-right: 2px solid var(--c-line);
        border-bottom: 3px solid transparent;
        text-decoration: none;

        &:hover,
        &:focus {
          background: var(--c-base-2);
          text-decoration: underline;
        }

        &.active,
        &.active:hover,
        &.active:focus {
          background: var(--c-base);
          border-bottom: 3px solid var(--c-line);
          border-right: none;
          text-decoration: none;

          &::after {
            content: ' ';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: -6px;
            border-bottom: 1px solid var(--c-line);
          }
        }
      }
    }
  }

  > main {
    width: 100%;

    > article {
      width: 100%;
      padding: 30px;
      max-width: 1000px;
      margin: auto;

      p {
        line-height: 1.3;
      }

      table {
        margin-top: 20px;
        border-collapse: collapse;

        thead {
          text-align: left;
        }

        td,
        th {
          font-variant-numeric: tabular-nums;
          padding: 5px 10px;
        }
      }

      .brand {
        font-size: 60px;
        > p {
          font-size: 22px;
          font-style: italic;
          font-weight: light;
          margin-top: 0;
        }
      }

      pre {
        padding: 15px;
        border-radius: 8px;
        background: var(--c-base-1);
        font-weight: bold;
      }

      .docfy-demo__snippet > pre {
        padding: 0;
        background: inherit;
        font-weight: inherit;
      }

      .docfy-demo__example {
        position: relative;
        padding: 15px;
        margin-top: 40px;
        background: var(--c-base-1);
        border: 2px solid var(--c-line);

        &::before {
          --spacing: -9px;
          content: ' ';
          position: absolute;
          left: var(--spacing);
          right: var(--spacing);
          bottom: var(--spacing);
          top: var(--spacing);
          border: 4px solid var(--c-line);
          pointer-events: none;
        }
      }

      .docfy-demo__snippets__tabs {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        margin-top: 20px;

        &__button {
          all: unset;
          width: 100%;
          border-bottom: 2px solid var(--c-base-1);
          padding: 10px;
          cursor: pointer;

          &--active {
            border-bottom: 2px solid var(--c-line);
          }

          &:hover {
            background: var(--c-base-1);
          }
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        position: relative;
        color: var(--c-line);
        text-decoration: none;

        &::before {
          position: absolute;
          content: '#';
          color: var(--c-base-2);
          width: 1.5ch;
          transform: translateX(-100%);
        }

        &:hover,
        &:focus {
          text-decoration: underline;
          &::before {
            color: var(--c-line);
          }
        }
      }
    }

    a {
      color: var(--c-blue-line);
    }

    .footer-actions {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 3px solid var(--c-line);
      display: flex;
      gap: 15px;
      flex-wrap: nowrap;

      .footer-action {
        width: 100%;

        a {
          padding: 15px;
          width: 100%;
          display: block;
          text-decoration: none;
          font-size: 22px;
          border-radius: 8px;

          &:hover,
          &:focus {
            background: var(--c-base-1);
          }

          p {
            color: var(--c-line);
            margin: 0;
            margin-bottom: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* Lineal CSS */
.nominal {
  color: var(--c-base);
  fill: var(--c-base);
}

.nominal-1 {
  color: var(--c-red);
  fill: var(--c-red);
}
.nominal-2 {
  color: var(--c-yellow);
  fill: var(--c-yellow);
}
.nominal-3 {
  color: var(--c-green);
  fill: var(--c-green);
}
.nominal-4 {
  color: var(--c-blue);
  fill: var(--c-blue);
}

.accent-green {
  color: var(--c-base-1);
  fill: var(--c-base-1);
}

.accent-green-1 {
  color: var(--c-green-line);
  fill: var(--c-green-line);
}

.demo-two-line-chart {
  margin: 50px;
  overflow: visible;

  .line {
    stroke: var(--c-red-line);
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
  }

  .point {
    fill: var(--c-red-line);

    &:hover {
      fill: var(--c-blue-line);
    }
  }

  .axis {
    fill: none;

    line,
    path {
      stroke: var(--c-base);
      stroke-width: 2;
    }

    text {
      fill: var(--c-line-0);
    }
  }

  .gridlines line {
    stroke-dasharray: 5 5;
    stroke: var(--c-base);
    opacity: 0.9;
  }
}

.demo-two-fluid-chart {
  padding: 25px;

  &__plot {
    width: 100%;
    height: 25vh;
  }

  &__svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    margin: 0;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  height: 100%;
}

.min-col {
  flex-grow: 1;
}

.animated-gutter {
  width: 50px;
  background: var(--c-base-0);
  height: 25vh;
  margin: 25px 0;
  animation: expand ease-in-out 3s infinite alternate;
}

@keyframes expand {
  0% {
    width: 50px;
  }

  100% {
    width: 250px;
  }
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;

  dt {
    font-weight: bold;
  }
}

.sidebar {
  width: 250px;
}
