<div class='demo-chart-with-axes'>
  <Lineal::Fluid as |width height|>
    {{#let (@scale.derive range=(array 0 width)) as |scale|}}
      <svg width='100%' height='20px' style='overflow:visible'>
        {{#if scale.isValid}}
          <Lineal::Gridlines
            @direction='vertical'
            @scale={{scale}}
            @length={{20}}
          />
          <Lineal::Axis
            @orientation='bottom'
            @scale={{scale}}
            transform='translate(0,20)'
          />
        {{/if}}
        <Lineal::Points
          @data={{@data}}
          @x='x'
          @xScale={{scale}}
          @y={{10}}
          @size={{3}}
        />
      </svg>
    {{/let}}
  </Lineal::Fluid>
</div>
